@font-face {
  font-family: Title;
  src: url(../fonts/ANODETONOONE.TTF);
}

h1 {
  font-family: Title;
  font-size: 40px;
  color: #603A03;
}

body {
  background-image: url(../images/background.jpg);
}

#container {
  width: 950px;
  height: auto;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

#background-game {
  width: 950px;
  height: 630px;
  background-image: url(../images/background_game.jpg);
  border-color: #FFF;
  border-style: solid;
}

#start {
  width: 350px;
  height: 200px;
  background-color: #FFF;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  text-align: center;
  padding: 10px;
}

#player {
  width: 256px;
  height: 66px;
  position: absolute;
  left: 8px;
  top: 179px;
  background-image: url(../images/apache.png);
}

#enemy1 {
  width: 256px;
  height: 66px;
  position: absolute;
  left: 689px;
  top: 253px;
  background-image: url(../images/enemy1.png);
}

#enemy2 {
  width: 165px;
  height: 70px;
  position: absolute;
  left: 775px;
  top: 447px;
  background-image: url(../images/enemy2.png);
}

#friend {
  width: 44px;
  height: 51px;
  position: absolute;
  left: 10px;
  top: 464px;
  background-image: url(../images/friend.png);
}

#shoot {
  width: 50px;
  height: 8px;
  position: absolute;
  background-image: url(../images/shoot.png);
}

#explosion1 {
  width: 15px;
  height: 87px;
  position: absolute;
}

#explosion2 {
  width: 15px;
  height: 87px;
  position: absolute;
}

#score {
  width: 450px;
  height: 50px;
  position: absolute;
  left: 5px;
  top: 590px;
}

h2 {
  font-family: Title;
  font-size: 20px;
  color: #FFF
}